
.AdminPage{

}

.ToPendingButton {
    float: right;
    width: 15em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    background-color: #f0ad4e;
    color: white;
    border-radius: 5px;
}

.addArcadeButton {
    float: none;
    margin: 25px;
}

.arcadeButton {
    width: 6em;
    text-align: center;
    float: right;
    margin: 0;
    margin-left: 8px;
}