.App {
    text-align: center;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./Images/ambw.png");

  /* Full height */
  position:relative;
  padding: 0 0 40px 0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.location-button {
  border-radius: 0px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  //background-color: #8E793E;
  //border-color: #8E793E;
  background-color: transparent;
  border-color: white;
}

.location-button:hover {
    border-radius: 0px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #ad974f;
    border-color: white;
}

.nav {
  color: white;
}

/*.navbar-inverse {
  background-color: black;
  //background-color: #231F20;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Jumbo {
  text-align: center;
  //color: black;
  //background-color: #231F20;
  background-color: rgba(0, 0, 0, .7);
  //margin-top: 30px;
  margin-bottom: 75px;
  //padding-top: 15px;
  //padding-bottom: 20px;
  color: #EAEAEA;
}

.header {
  font-family: 'Luckiest Guy', cursive;
}

.navbar-inverse {
    background-color: black;
    border-color: black;

    //background-color: #231F20;
    //border-color: #231F20;
}

.navbar-inverse .navbar-brand {
    //color: #8E793E;
    color: #AD974F;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    //font-family: 'Luckiest Guy', cursive;
    //font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.underline {
    border-bottom-color: #AD974F;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans');



/*.text {
  color: White
}*/