.App {
    margin-bottom: 5.9em;
    text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body{
    min-height:100%;
    position: relative;
}

.Slideshowtext {
    color: white;
    text-shadow: 0px -2px 1px black, -2px 0px 1px black, 2px 0px 1px black, 0px 2px 1px black;
}

/*.Jumbo {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}*/

/*.text {
  color: White
}*/