.BodyWrap {
    min-height: calc(100vh - 80px);
    background-color: #121212;
    color: white;
    padding-bottom: 40px;
}

.dark-background {
    background-color: #121212;
}

a {
    color: white;
}

a:hover {
    color: #ad974f;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}