.games-page {

}

.whitespace{
    padding:3em;
}

.games-page__form-container {
	display: flex;
	flex-direction: column;
	//justify-content: space-around;
	//background-color: coral;
}

.games-page__search-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	//background-color: coral;
	align-items: baseline;
}

.games-page__sort {

}

.games-page__sort-label {

}

.games-page__inline-form {

}

.games-page__game-list {
	margin-top: 10px;
}