.Footer{
    margin-top: 5px;
    float: none;
    height: 80px;
    background-color: #000000;
    color: grey;
    position: relative;
    overflow: hidden;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    z-index: 10;
    margin: auto;
}

.FooterNoScroll {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    text-align:center;
    float: none;
    height: 80px;
    background-color: #000000;
    color: grey;
    overflow: hidden;
    display: block;
    margin-top:50px;
}

.FooterText{
    position: relative;
    top: 50%;
    vertical-align: middle;
    vertical-align: central;
}