.game-card__img-col {
	background-color: coral;
}

.game-card__card {
	border-style: solid;
	border-color: lightgray;
	border-width: 0.5px;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.game-card__info-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-around;
	//background-color: coral;
}

.game-card__game-title {
	margin-top: 5px;
}

.game-card__info-row-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
}

.game-card__dev {
	//align-self: baseline;
}

.submission-card-info {
    width: 80%;
    display:inline-block;
    float: left;

}

.submission-card-icon {
    display: inline-block;
    margin: auto;
}

.status-icon {
    width: 50px;
}